@use 'colors' as c;

a {
	text-decoration: none;
	color: c.$textColorOne;
}

h1 {
	color: c.$textColorTwo;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.ptb {
	padding: 4em 0;
}

.questions__line {
	width: 100%;
	height: 2px;
	background-color: c.$bgColorTwo;
}

.section__text-box {
	margin-bottom: 6em;
	padding: 0 1em;
	text-align: center;
}

.section__text {
	margin-top: 1em;
}

.colorPrimary {
	color: c.$primary;
}

.colorSecondary {
	color: c.$secondary;
}

.colorWhite {
	color: c.$white;
}
