@use 'colors' as c;

a {
	text-decoration: none;
	color: c.$textColorOne;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.ptb {
	padding: 4em 0;
}

.bg-color-light {
	color: c.$blackDark;
	background-color: c.$white;
}

.questions__line {
	width: 100%;
	height: 2px;
	background-color: c.$bgColorTwo;
}

.section__text-box {
	margin-bottom: 6em;
	padding: 0 1em;
	text-align: center;

	&--white {
		color: c.$blackDark;
	}
}

.section__title {
	font-size: 2.6rem;
}

.section__text {
	margin-top: 1em;
}

.colorPrimary {
	color: c.$primary;
}

.colorSecondary {
	color: c.$secondary;
}

.bg-secondary {
	background-color: c.$secondary;
	border-radius: 5px;

	.questions__accordion-description {
		color: #c3c3c3;
	}
}

@media (min-width: 992px) {
	.section__title {
		font-size: 3.2rem;
	}
}
