@use 'colors' as c;
@use 'mixin' as *;
@use 'components' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

section {
	scroll-margin-top: 60px;
}

body {
	font-size: 1.6rem;
	color: c.$textColorOne;
	background-color: c.$bgColorOne;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: c.$bgColorOne;
	z-index: 100;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1em;
		height: 60px;
	}

	&__logo {
		font-size: 2.8rem;
		font-weight: 600;
	}

	&__menu {
		position: absolute;
		top: 60px;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		width: 100%;
		height: calc(100dvh - 60px);
		translate: 120% 0;
		transition: translate 0.3s;
		background-color: c.$bgColorOne;

		&--active {
			translate: 0;
		}
	}

	&__bars {
		position: absolute;
		right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 5px;
		width: 40px;
		height: 40px;
		border: none;
		background: none;

		&--active {
			.nav__bars-line:nth-child(1) {
				rotate: 45deg;
				translate: 0 8px;
			}

			.nav__bars-line:nth-child(2) {
				opacity: 0;
			}

			.nav__bars-line:nth-child(3) {
				rotate: -45deg;
				translate: 0 -8px;
			}
		}
	}

	&__bars-line {
		width: 25px;
		height: 3px;
		border-radius: 10px;
		background-color: c.$white;
		transition: rotate 0.3s, translate 0.3s 0.1s, opacity 0.3s;
	}
}

.header {
	margin-top: 60px;

	&__container {
		@include container;
		gap: 5em;
		min-height: calc(100dvh - 60px);
		text-align: center;
	}

	&__title {
		font-size: 3.2rem;
		color: c.$textColorTwo;

		&--white {
			color: c.$white;
		}
	}

	&__btns {
		display: flex;
		gap: 2.5em;
	}

	&__btn {
		display: block;
		padding: 0.5em 1em;
		width: 125px;
		font-size: 1.8rem;
		font-weight: 600;
		border: none;
		border-radius: 5px;
		color: c.$white;
		background-color: c.$secondary;
	}
}

.advantages {
	&__container {
		@include container;
		gap: 80px 0;
	}

	&__card {
		padding: 2em 1em;
		width: 280px;
		text-align: center;
		border: 3px solid c.$blackLight;
		border-radius: 10px;
	}

	&__icon {
		font-size: 3.8rem;
		color: c.$primary;
	}

	&__title {
		margin: 1em 0;
	}
}

.operation {
	&__container {
		@include container;
		gap: 120px 0;
		list-style: none;
	}

	&__number {
		margin: -42.5px 0 0.5em 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 65px;
		height: 65px;
		font-size: 2.8rem;
		font-weight: bold;
		background-color: c.$primary;
		border-radius: 5px;
	}

	&__card {
		padding: 0.5em 1.5em;
		width: 280px;
		background-color: c.$bgColorOne;
		border-radius: 10px;
	}

	&__number,
	&__title {
		color: c.$textColorOne;
	}

	&__description {
		color: #a1a1a1;
	}

	&__title,
	&__description {
		margin-bottom: 0.5em;
	}
}

.questions {
	&__accordion-container {
		@include container;
		gap: 2em;
		padding: 0.5em 1em;
		max-width: 580px;
		text-align: center;
	}

	&__accordion-content {
		padding: 0.5em;
		overflow: hidden;
	}

	&__accordion-header {
		font-size: 1.8rem;
	}

	&__accordion-description {
		display: block;
		height: 0;
		opacity: 0;
		color: c.$textColorTwo;
		transition: height 0.3s linear, opacity 0.2s linear;
	}

	&__text {
		margin: 4em 0 2em 0;
		padding: 0 1em;
		text-align: center;
		font-size: 2rem;
	}
}

.note {
	&__text {
		padding: 0 1em;
		font-size: 2.8rem;
		text-align: center;
	}
}

.offers {
	&__container {
		@include container;
		gap: 8em;
		margin-top: 8em;
	}

	&__card {
		position: relative;
		padding: 2em 1em;
		width: clamp(280px, 80%, 300px);
		border-radius: 10px;
		background-color: c.$blackCard;
	}

	&__number {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -1em;
		width: 55px;
		height: 55px;
		font-size: 2.8rem;
		font-weight: bold;
		border-radius: 5px;
		background-color: c.$primary;
	}

	&__title {
		padding: 0.5em 0;
		font-size: 2.2rem;
	}

	&__text,
	&__btn {
		font-size: 1.8rem;
		font-weight: 600;
	}

	&__text {
		color: c.$textColorTwo;
	}

	&__btn {
		display: block;
		margin-top: 2em;
		padding: 0.5em 1em;
		max-width: 170px;
		border-radius: 5px;
		border: none;
		color: c.$white;
		background-color: c.$primary;
	}

	&__text-bottom {
		padding: 1em 0.5em;
		text-align: center;

		mark {
			padding: 0 0.5em;
			color: c.$white;
			background-color: c.$primary;
		}
	}
}

.contact {
	&__container {
		@include container;
		gap: 4em;
	}

	&__mail,
	&__phone,
	&__text {
		font-size: 2.4rem;
	}

	&__mail,
	&__phone {
		position: relative;
		color: c.$blackDark;
		z-index: 2;

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 110%;
			height: 50%;
			background-color: c.$primary;
			translate: -50% 0;
			z-index: -1;
		}
	}

	&__text {
		margin: 4em 0 0 0;
		padding: 0 1em;
		text-align: center;
	}
}

.footer {
	padding: 2em 1em;
	font-size: 2.2rem;
	text-align: center;
}

//?=======
//?MEDIA QUERIES
//?=======

@media (min-width: 576px) {
	.header {
		&__title {
			font-size: 3.2rem;
		}
	}
}

@media (min-width: 768px) {
	section {
		scroll-margin-top: 80px;
	}

	.nav {
		&__container {
			height: 80px;
		}

		&__logo {
			font-size: 3.2rem;
		}

		&__menu {
			position: static;
			justify-content: flex-end;
			flex-direction: row;
			gap: 0;
			height: 100%;
			translate: 0;
		}

		&__menu-link {
			margin-left: 2.5em;
		}

		&__bars {
			display: none;
		}
	}

	.header {
		&__title {
			font-size: 4.2rem;
		}

		&__btns {
			gap: 5em;
		}

		&__btn {
			width: 180px;
			font-size: 2rem;
		}
	}

	.advantages {
		&__container {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 50px;
		}
	}

	.operation {
		&__card {
			width: 420px;
		}
	}

	.questions {
		&__container {
			@include container;
		}

		&__accordion-content {
			margin-bottom: 1.5em;
		}

		&__text {
			font-size: 2.4rem;
		}
	}

	.note {
		&__text {
			font-size: 3.4rem;
		}
	}

	.offers {
		&__container {
			align-items: stretch;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__card {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}

		&__number {
			width: 55px;
			height: 55px;
			font-size: 2.2rem;
		}

		&__btn {
			max-width: 180px;
		}

		&__text-bottom {
			font-size: 2rem;
		}
	}

	.contact {
		&__mail,
		&__phone,
		&__text {
			font-size: 2.6rem;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__logo {
			font-size: 3.6rem;
		}

		&__menu-link {
			transition: color 0.3s;

			&:hover {
				color: c.$primary;
			}
		}
	}

	.header {
		&__title {
			font-size: 6.2rem;
		}

		&__btn {
			transition: background-color 0.3s;

			&:hover {
				background-color: c.$primary;
			}
		}
	}

	.advantages {
		&__container {
			align-items: stretch;
			gap: 100px;
		}
	}

	.operation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__container {
			position: relative;
			align-items: baseline;
			max-width: 880px;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				display: block;
				width: 2px;
				height: 100%;
				background-color: c.$primary;
			}
		}

		&__card {
			position: relative;
			width: 50%;

			&::after {
				content: '';
				position: absolute;
				top: calc(50% - 20px);
				width: 50px;
				height: 50px;
				background-color: c.$primary;
				border-radius: 50%;
			}

			&:nth-child(even) {
				align-self: flex-end;
				translate: 50px 0;

				&::after {
					left: -75px;
				}
			}

			&:nth-child(odd) {
				translate: -50px 0;

				&::after {
					right: -75px;
				}
			}
		}
	}

	.questions {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 50px;

		&__container {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 120px;
		}

		&__accordion-content {
			text-align: left;
		}

		&__accordion-header {
			cursor: pointer;
		}

		&__text {
			margin: 0;
			font-size: 2.8rem;
		}
	}

	.note {
		&__text {
			font-size: 3.8rem;
		}
	}

	.offers {
		&__container {
			gap: 6.5em;
		}

		&__card {
			width: clamp(280px, 80%, 340px);
		}

		&__number {
			top: -1.2em;
			left: -1.2em;
			width: 65px;
			height: 65px;
			font-size: 2.6rem;
		}

		&__title {
			font-size: 2.4rem;
		}

		&__text,
		&__btn {
			font-size: 1.8rem;
		}

		&__btn {
			width: 160px;
			transition: background-color 0.3s, color 0.3s;
			cursor: pointer;

			&:hover {
				color: c.$primary;
				background-color: c.$white;
			}
		}

		&__text-bottom {
			font-size: 2.2rem;
		}
	}

	.contact {
		&__mail,
		&__phone,
		&__text {
			font-size: 2.6rem;
		}
	}
}

@media (min-width: 1200px) {
	.operation {
		&__container {
			max-width: 1000px;
		}
	}
}
